<h2>Coronavirus Safety Tips</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card" style="border-left: 5px solid rgb(99, 0, 0);">
            <div class="card-body">
                <h6>What is Coronavirus</h6>
                <p>Coronavirus disease 2019, or COVID-19, is a disease that can cause what doctors call a respiratory tract infection. It can affect your upper respiratory tract (sinuses, nose, and throat) or lower respiratory tract (windpipe and lungs).</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="border-left: 5px solid rgb(99, 0, 0);">
            <div class="card-body">
                <h6>What Are the Symptoms of COVID-19?</h6>
                <p>Early symptoms include a fever, dry cough or fatigue. The virus can lead to pneumonia, respiratory failure, septic shock, and death. If you’re exposed and infected, symptoms can show up in as few as 2 days or as many as 14.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="border-left: 5px solid rgb(99, 0, 0);">
            <div class="card-body">
                <h6>How do you prevent the spread?</h6>
                <p>You should wash your hands often with soap and water as this kills viruses. Practice social distancing because you can have and spread the virus without knowing it. Don't touch your face as the virus can live on surfaces you touch.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-size: 18px; margin-top: 20px; margin-bottom: 30px; font-weight: 600;">Here are some safety tips</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <img src="https://img.icons8.com/pastel-glyph/2x/wash-your-hands.png" width="80" height="80">
                                <p>Wash your hands for at least 20 seconds</p>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <img src="https://image.flaticon.com/icons/png/512/1595/1595911.png" width="80" height="80">
                                <p>Disinfect surfaces around your home and work</p>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8">
                                <img src="https://cdn3.iconfinder.com/data/icons/coronavirus-11/64/mask-wearing-avatar-man-covid19-coronavirus-air_pollution-512.png" width="80" height="80">
                                <p>Sneeze or cough? Cover your mouth or wear a mask</p>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                            <p style="font-size: 18px; margin-top: 40px; margin-bottom: -20px; font-weight: 600;">Take a quick self assesment now:</p>
                            </div>
                        </div>
                        <section class="buttons">
                        <div class="button">
                          <a class="btn btn-default btn-block" style="border: 1px solid #fff; background-color: rgb(99, 0, 0) !important; text-transform: uppercase;" data-toggle="modal" data-target="#myModal">Click Here</a>
                        </div>
                            
                          </section>
                            <!-- The Modal -->
                             <div class="modal fade" id="myModal">
                               <div class="modal-dialog modal-xl">
                                 <div class="modal-content">
                                 
                                   <!-- Modal Header -->
                                   <div class="modal-header">
                                     <h4 class="modal-title">Covid-19 Online Self Assessment Form</h4>
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   </div>

                                   <!-- Modal body -->
                                   <div class="modal-body" style="height: 250px;
                                   overflow-y: auto;">
                                     <h4>Biographical Information</h4>
                                     <h5>Age*</h5>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio1">1-19</label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio2">20-40</label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio3">41-69</label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio4">70-90</label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio5">Above</label>
                                       </div>
                                       <h5>Gender*</h5>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio6" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio6">Male</label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio7" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio7">Female</label>
                                       </div>
                                       <h4>Clinical Criteria</h4>
                                     <h5>Do you or the patient have a cough?*</h5>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio8" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio8">Yes</label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio9" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio9">No</label>
                                       </div>
                                     <h5>Do you or the patient have shortness of breath?*</h5>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio10" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio10">Yes</label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio11" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio11">No</label>
                                       </div>
                                     <h5>Do you or the patient have a high fever? *</h5>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio12" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio12">Yes</label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio13" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio13">No</label>
                                       </div>
                                     <h5>Do you or the patient have a sore throat?*</h5>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio14" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio14">Yes</label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                         <input type="radio" id="customRadio15" name="customRadio" class="custom-control-input">
                                         <label class="custom-control-label" for="customRadio15">No</label>
                                       </div>
                                   </div>

                                   <!-- Modal footer -->
                                   <div class="modal-footer">
                                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                   </div>

                                 </div>
                               </div>
                             </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>