<h2>Emergency Coronavirus Contacts</h2>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h6>Coronavirus Hotline</h6>
                        <div class="row">
                            <div class="col-md-2">
        
                            </div>
                            <div class="col-md-8">
                                <a href="tel:0800 029 999" style="text-align: center;">0800 029 999</a>
                            </div>
                            <div class="col-md-2">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>Coronavirus Whatsapp</h6>
                        <div class="row">
                            <div class="col-md-2">
        
                            </div>
                            <div class="col-md-8">
                                <a href="tel:0600 123 456" style="text-align: center;">0600 123 456</a>
                            </div>
                            <div class="col-md-2">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h6>National Crisis Line</h6>
                        <div class="row">
                            <div class="col-md-2">
        
                            </div>
                            <div class="col-md-8">
                                <a href="tel:0861 322 322" style="text-align: center;">0861 322 322</a>
                            </div>
                            <div class="col-md-2">
                                
                            </div>
                        </div>
                    </div>
                   
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Women Abuse Helpline</h6>
                            <div class="row">
                                <div class="col-md-2">
            
                                </div>
                                <div class="col-md-8">
                                    <a href="tel:0800 333 177" style="text-align: center;">0800 333 177</a>
                                </div>
                                <div class="col-md-2">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6>Family Violence Helpline</h6>
                            <div class="row">
                                <div class="col-md-2">
            
                                </div>
                                <div class="col-md-8">
                                    <a href="tel:0800 150 150" style="text-align: center;">0800 150 150</a>
                                </div>
                                <div class="col-md-2">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6>Child line</h6>
                            <div class="row">
                                <div class="col-md-2">
            
                                </div>
                                <div class="col-md-8">
                                    <a href="tel:0800 055 055" style="text-align: center !important;">0800 055 055</a>
                                </div>
                                <div class="col-md-2">
            
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>