<div class="row">
    <div class="col-md-12">
        <h2>Helpful Coronavirus Videos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="border: none !important;">
                    <div class="card-body">
                        <a><img class="img-fluid z-depth-1" src="https://i.ytimg.com/vi/qPoptbtBjkg/mqdefault.jpg" alt="video" (click)="videoModal1.show()" style="min-width: 100%; border-radius: 2%;"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"style="border: none !important;">
                    <div class="card-body">
                        <a><img class="img-fluid z-depth-1" src="https://i.ytimg.com/vi/9Ay4u7OYOhA/mqdefault.jpg" alt="video" (click)="videoModal2.show()" style="min-width: 100%;border-radius: 2%;"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card"style="border: none !important;">
                    <div class="card-body">
                        <a><img class="img-fluid z-depth-1" src="https://i.ytimg.com/vi/TjcoN9Aek24/mqdefault.jpg" alt="video" (click)="videoModal3.show()" style="min-width: 100%;border-radius: 2%;"></a>
                    </div>
                </div>
            </div>
        </div>
        <div mdbModal #videoModal1="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal1Label"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body mb-0 p-0">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <iframe width="853" height="480" src="https://www.youtube.com/embed/qPoptbtBjkg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          </div>
              </div>
              <div class="modal-footer justify-content-center">
                <button mdbBtn type="button" color="primary" rounded="true" outline="true" size="md" (click)="videoModal1.hide()">Close</button>
              </div>
            </div>
          </div>
        </div>
        
        <div mdbModal #videoModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal2Label"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body mb-0 p-0">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <iframe width="818" height="460" src="https://www.youtube.com/embed/9Ay4u7OYOhA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <div class="modal-footer justify-content-center">
                <button mdbBtn type="button" color="primary" rounded="true" outline="true" size="md" (click)="videoModal2.hide()">Close</button>
              </div>
            </div>
          </div>
        </div>
        
        <div mdbModal #videoModal3="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myVideoModal3Label"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body mb-0 p-0">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <iframe width="818" height="460" src="https://www.youtube.com/embed/TjcoN9Aek24" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <div class="modal-footer justify-content-center">
                <button mdbBtn type="button" color="primary" rounded="true" outline="true" size="md" (click)="videoModal3.hide()">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
