@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

app-top-nav .nav-item a{
    color: #333 !important;
    text-align: center !important;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}
app-top-nav .nav-item a:hover{
    color: rgb(31, 31, 31)!important;
    border-bottom: 3px solid rgb(31, 31, 31);
}